 html {
            width: 100%;
}
      body {
        color: white;
        font-family: sans-serif;
        background: url("images/mitochondria_background4.jpg");
        background-position:center;
        font-size: 20px;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        background-repeat: repeat;
      }
      h2 {
        font-size: 30px;
      }
      h1{g
       font-size: 40px;
        text-align: center;
        color: orange;
        background: white;
      }
        
        #mainContent {
            width: 75%;
            background-color: orange;
            padding: 10px;
            text-align: left;
            margin-top: 25px;
        }
        a:link, a:visited, a:active{
        color: white;
      }
      a:hover{
        color: blue;
      }
.SiteName{
 font-size: 36px;
 font-weight: bold;
 background-color: white;
 color: orange;
 padding-top: 10px;
 text-align: center;
}
.Navigation{
 font-size: small;
 background-color: white;
 color: orange;
 padding-left: 3px;
 padding-bottom: 3px;
}
.Navigation a:link {
 color: orange;
 text-decoration: none;
}
.Navigation a:visited {
 color: orange;
 text-decoration: none;
}     
.Navigation a:active {
 color: orange;
 text-decoration: none;
}     
.Navigation a:hover {
 color: blue;
 text-decoration: none;
}     
